.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px  #87487e7f solid;
}

.header > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  background-color: #7e0b6e;
  color: white;
  margin: 1em;
}

.logo-container {
  display: flex;
  margin-right: 3em;
  justify-content: center;
  padding: 0.5em;
  border: 1px solid #87487e7f;
  border-radius: 1.5em;
}

.title-container {
  margin-left: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: 3px solid white;
  border-radius: 0.7em;
}

.logo {
  height: 4em;
}

.nav {
  margin-right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  border-radius: 0.5em;
  padding: 1em;
  height: 1em;
  background-color: #87487e7f; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
}

.nav-link > a {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  transition: 0.5s;
  color: white;
}

.main {
  margin: 2em;
  border-radius: 2em;
  border-top-left-radius: 0;
  padding: 0.5em;
}

.main-headings {
  display: flex;
}

.main-flights {
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-flights-content {
  pointer-events: none; 
}

.main-flights-selected {
  border-top-right-radius: 1em;
  background: white;
  color: black;
  transition: 0.2s;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-flights-search {
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 12em;
}

.main-flights-selected-search {
  border-top-right-radius: 1em;
  background: white;
  color: black;
  transition: 0.2s;
  padding-right: 2em;
  padding-left: 1.5em;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.table-container {
  width: 100%;
  /* height: 100vh; */
  /* overflow: scroll; */
  border-radius: 2em;
  border-top-left-radius: 0;
}

.table {
  font-size: 1.1em;
  color: black;
  background: white;
  padding: 0.5em;

}

.table-row-container:nth-child(odd) {
  background-color: #7e0b6f0d;
}

.table-row {
  display: flex;
  align-items: center;
  height: 2em;
  padding-top: 1em;
  padding: 1em;
  border-bottom: solid rgba(195, 195, 195, 0.483) 2px;
}

.table-row-exp {
  background-color: #7e0b6f3e;
  border-radius: 1em;
  border-top-left-radius: 0;
}

.table-row-expanded {
  display: flex;
  align-items: center;
  height: 2em;
  padding-top: 1em;
  padding: 1em;
  border-radius: 1em;
  border-top-left-radius: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.table-row-expanded-container {
  font-size: large;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.table-row-expanded-table {
  border-top: solid rgba(0, 0, 0, 0.283) 2px;
  border-right: solid rgba(0, 0, 0, 0.283) 2px;
  border-left: solid rgba(0, 0, 0, 0.283) 2px;

}

.table-row-expanded-row {
  display: flex;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.283) 2px;

}

.table-row-expanded-row-title {
  width: 10vw;
}

.table-row-expanded-row-title > p {
  margin:0.5em;
  font-weight: bolder;
}

.table-row-expanded-row-data {
  border-left: solid rgba(0, 0, 0, 0.283) 2px;

  width: 15vw;
}

.table-row-expanded-row-data > p {
  margin:0.5em;
}


.image {
  display: flex;
  width: 10em;
  align-items: center;
}

.time {
  display: flex;
  width: 10em;
  align-items: center;
}

.portOfCallA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
  margin: 0;
  padding: 0;
}

.flightDetails {
  display: flex;
  align-items: center;
  margin-top: -2em;
}

.flightDetails h3 {
  width: 5em;
}

.flightDetails p {
  width: 15em;
}

.status {
  display: flex;
  width: 15em;
  align-items: center;
}

.more-details {
  display: flex;
  width: 10em;
  align-items: center;
}

.search-table-column {
  display: flex;
  width: 10em;
  align-items: center;
}

@media (max-width: 1200px) {
  .more-details {
    display: none;
  }
}

@media (max-width: 1100px) {
  .status{
    display: none;
  }
}

@media (max-width: 900px) {
  .image {
    display: none;
  }
}


.table-column {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.4em;
  border-bottom: solid rgb(195, 195, 195) 4px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-column > div {
  font-weight: bolder;
}
.table-column > div > h5 {
  font-weight: bolder;
  padding: 0.5em;
  padding-left: 0;
  border-radius: 0.5em;
  color: black;
  background-color: white;
  border-radius: 0.5em;
  border-top-left-radius: 0;
}

.table-column > div > h5:hover {
  font-weight: bolder;
  padding: 0.5em;
  /* padding-left: 0; */
  margin-left: -0.5em;
  border-radius: 0.5em;
  color: white;
  background-color: #7e0b6e;
  transition: 0.2s;
  border-radius: 0.5em;
  border-top-left-radius: 0;
}

/* Search Bar */

.search-bar {
  color: black;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  height: 4em;
  margin: 2em 0 4em 0;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
   /* height: 1em;
  border: 2em; */
  border-top-left-radius: 0;
}

.search-logo {
  display: flex;
  align-items: center;
}

.search-logo > i {
  /* height: 2em; */
}

.search-logo > h1 {
  margin-left: 0.5em;
}

.search-bar-extended {
  color: black;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  height: 4em;
  margin: 2em 0 4em 0;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  border-top-left-radius: 0;
}

.search-bar-container {
  padding: 2em;
  padding-top: 0;
}


.search-status {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-airlines {
  width: 80vw;
  display: flex wrap;
  justify-content: space-evenly;
  align-items: center;
}
.search-airlines > img {
  padding:10px;
  /* border: 1px grey solid; */
  margin: 5px;
}


.footer {
  width: 100%;
  height: 5em;
  border-top: 2px  #7e0b6e solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
